body{
    background-color:lavenderblush;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color:rebeccapurple;
}

h2{
    color:darkslateblue ;
}
.card{
    background-color: white;
    border: 1px solid palevioletred;
    border-radius: 10px;
    padding: 20px;
    transition:0.3s;
    height: 100%;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px gray;
}
img{
    box-shadow: 0 0 10px gray;
}
form{
    background-color: thistle;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
footer{
    background-color: rebeccapurple;
    color: white;
}
iframe{
    max-width: 100%;
}
